<html>
    <head>
      <title>lucasvo.com</title>
      <meta charset="utf8" />
    </head>
    <body>
      <div class="wrapper"> 
        <header>
            <h1>lucasvo.com</h1>
            <p>
            <a href="mailto:lucasvo.com">l@lucasvo.com</a><br />
            <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0xFD9F9D3259972025">pgg: 59972025<br />
            <span class="fingerprint">
                10B3 505F 7440 1526 BC14  B32C FD9F 9D32 5997 2025
            </span>
            </a>
            </p>
            <ul>
                <li><a href="https://github.com/lucasvo">github</a></li>
                <li><a href="https://twitter.com/lucasvo">twitter</a></li>
                <li><a href="https://medium.com/@lucasvo">medium</a></li>
            </ul>
          </header>
        <main>
          <%= htmlWebpackPlugin.options.compileArticles() %>
        </main> 
      </div>
    </body>
</html>
